html{font-family: Arial, "Helvetica Neue", Helvetica,
sans-serif;background-image: url("thumb.jpg"); 
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;

}
.container { 
width: 80%;
margin: 0 auto;
}
header {
background: black;
}
header::after {
  content: '';
  display: table;
  clear: both;
}
nav ul{
  margin: 0;
  padding: 0;
  list-style: none;
}
nav li {display: inline-block;
  margin:0 60px;
  padding-top: 25px;
  padding-bottom: 25px;
  
  }
nav a:hover{color: rgb(87, 198, 218);
    font-weight: 600;
    text-decoration: underline;
  }
nav a {
  color:aliceblue ;
  text-decoration: none;
  text-transform: uppercase;
  
}
p{font: size 16px;
font-weight:300;
line-height:20px;
font-weight:300;
width:960px;
color:black;
 
}
h1{
font-size:48px;
line-height:30px;
color:black;
font-weight:600;
opacity: 1;
}
h2{font-size:20px;
line-height:30px;
color: black;
font-weight:normal;}
article h2{
  text-align: center;
  display: inline-block;
}
figure {
        float: right;
        margin: 0 200px 40px 0;
        
      }

table {
  margin: 0 35px;
  color: black(17, 15, 15);
  border: 1px solid black;
}
td {
  border: 1px solid black;
}
ul { color:black ;}
body{
  margin: 0px;
 }
 main{ background: rgb(255, 255, 255,0.6);
  padding-top: 10px;
  padding-left: 200px;
}
main article figure{width: 1%;
float: left;
}

main article{background: lightblue;
  width: 550px;
  height: 250px;
  
  overflow-wrap: break-word;
  }
main article p{
  white-space: pre-line;
}

